{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
{% load static %}
<head>
 <link rel="stylesheet" href="{% static 'css/login_s.css' %}">
</head>
{% if form.errors %}
    <p>Неверный логин или пароль</p>
{% else %}
    <p>Пожалуйста, воспользуйтесь формой для входа:</p>
{% endif %}
<div class="log">
    <div class="login-container">
        <h2>Вход в систему</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Войти"></p>
            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </form>
    </div>
</div>
{% endblock %}
