{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/p_reset_confirm.css' %}">
</head>
<div class="password-reset-container">
  <h1>Сброс пароля</h1>
  {% if validlink %}
    <p>Введите ваш новый пароль дважды:</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Сменить пароль" /></p>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля недействительна, возможно, потому что она уже была использована. Пожалуйста, запросите сброс нового пароля.</p>
  {% endif %}
</div>
{% endblock %}
