{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
 <h1>Сброс пароля</h1>
 {% if validlink %}
   <p>Введите ваш новый пароль дважды:</p>
   <form method="post">
     {{ form.as_p }}
     {% csrf_token %}
     <p><input type="submit" value="Сменить пароль" /></p>
   </form>
 {% else %}
   <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже была
    был использован. Пожалуйста, запросите сброс нового пароля.</p>
 {% endif %}
{% endblock %}