{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<div class="reg">
    <div class="reg-container">
        <h2>Регистрация пользователя</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Зарегистрировать пользователя"></p>
        </form>
    </div>
</div>
</html>
{% endblock %}