body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.header-user span {
  padding-left: 10px;
}

.header-user form button {
  background: none;
  border: none;
  padding: 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
}


.nav a.active {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}



main {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin-top: 60px;
  padding: 20px 0;
  font-size: 14px;
  color: #999;
  border-top: 1px solid #ddd;
}
.nav {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  padding: 10px;
  margin: 12px;
}
.nav-header {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}
.nav-header h1 {
  position: absolute;
  left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
  font-size: 24px;
  margin: 0;
  color: #4960c6;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  transition: max-height 0.3s ease;
}

.nav-links a,
.header-user {
  margin: 5px;
  font-size: 18px;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    overflow: hidden;
    max-height: 0;

  }

  .nav-links.open {
    max-height: 500px;
  }

  .nav-links a,
  .header-user {
    text-align: center;
    padding: 8px;
    font-size: 20px;
  }
}
