{% extends 'base.html' %}
{% block title %}Список занятий{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/schedule_list.css' %}">
    <script>
        function showDay(day) {
            let days = document.querySelectorAll('.schedule-day');
            days.forEach(d => d.style.display = 'none');
            document.getElementById(day).style.display = 'table';
        }
    </script>
</head>
<h2>Список занятий</h2>

<div class="week-navigation">
    <a href="?week_offset={{ prev_week_offset }}" class="btn">⬅️ Предыдущая неделя</a>
    <span>{{ start_of_week }} — {{ end_of_week }}</span>
    <a href="?week_offset={{ next_week_offset }}" class="btn">Следующая неделя ➡️</a>
</div>


{% for day, day_schedules in schedules.items %}
    <div>
        <h3>{{ day }}</h3>
        {% if day_schedules %}
            <table border="1">
                <tr>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Предмет</th>
                    <th>Кабинет</th>
                    
                    {% if can_edit %}
                    <th>Группа</th>
                    <th>Изменить</th>
                    {% else %}
                    <th>Преподаватель</th>
                    {% endif %}
                </tr>
                {% for schedule in day_schedules %}
                    <tr>
                        <td>{{ schedule.date }}</td>
                        <td>{{ schedule.time }}</td>
                        <td>{{ schedule.subject }}</td>
                        <td>{{ schedule.cabinet }}</td>
                        
                    {% if can_edit %}
                    <td>{{ schedule.subject.group }}</td>
                    <td><a href="{% url 'schedule_edit' pk=schedule.id %}">✏️ Редактировать</a></td>
                    {% else %}
                    <td>{{ schedule.teacher.first_name }} {{ schedule.teacher.surname }} {{ schedule.teacher.last_name }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Нет занятий</p>
        {% endif %}
    </div>
{% endfor %}


<a href="{% url 'download_schedule' %}?week_offset={{ week_offset }}" class="btn-download">📄 Загрузить в XLSX</a>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        showDay('{{ week_days.0 }}');
    });
</script>
{% endblock %}
