body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
}

.header {
  background: #ffffff;
  color: #4960c6;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  justify-content: center;
  background: #ffffff;
  box-shadow: 4px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 18px 0px;
  margin: 18px;
  border-radius: 12px;
}

.nav a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background: none;
  margin-left: 40px;
  padding: 12px 20px;
  transition: background 0.3s, color 0.3s;
}

.nav a:hover {
  background: #ffffff;
  color: #4960c6;
  border-radius: 5px;

  transition: 0.3s;
}

h1 {
  text-align: center;
  margin-right: 55px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #4960c6;
}
main {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


footer {
  text-align: center;
  padding: 15px 0;
  background: #f4f4f9;
  color: #333;
  font-size: 14px;
  margin-top: auto;
}
