.reg {
    display: flex;
    
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

label {
    font-size: 16px;

}

.reg-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    text-align: center;
}

.reg-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.3s;
}

input {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border-color: #667eea;
    box-shadow: 0 0 4px #764ba2;
}
input[type="submit"] {
    background-color: #667eea;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #764ba2;
}

select.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #667eea;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}
