{% load static %}
<!DOCTYPE html>
<head>
    <link rel="icon" href="{% static 'css/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="nav">
            
            <h1>Информационная система учета успеваемости</h1>
            
            <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Главная</a>
            <a href="{% url 'office' %}" class="{% if request.path == '/accounts/office/' %}active{% endif %}">Личный кабинет</a>
            <a href="{% url 'schedule_list' %}" class="{% if request.path == '/schedule/list/' %}active{% endif %}">Расписание</a>
            <a href="{% url 'grade_list' %}" class="{% if request.path == '/grades/' %}active{% endif %}">Журнал</a>
            {% if user.is_authenticated %}
                <div class="header-user">
                    <span>{{ user.username }},</span>

                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                        Выйти
                        </button>
                    </form>
                </div>
            {% else %}
            <a href="{% url 'login' %}" class="{% if request.path == '/accounts/login/' %}active{% endif %}">Войти</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>2025, Информационная система учета успеваемости студентов</p>
    </footer>
</body>
</html>
