{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<div class="search">
    <form class="search_form" id="search_form" action="{% url 'schedule_search' %}" method="get">
        <input type="text" id="search_input" name="q" placeholder="Поиск по системе">
    </form>
</div>

<div class="login_btn">
    <a href="{% url 'login' %}">Вход</a>
</div>

<h2>Функции системы</h2>
<div class="features">
    <div class="feature-item">
        <h3>Авторизация</h3>
        <p>Пользователи имеют доступ к системе через личный кабинет</p>
    </div>

    <div class="feature-item">
        <h3>Отображение расписания</h3>
        <p>Отображение персонализированного расписания</p>
    </div>

    <div class="feature-item">
        <h3>Загрузка в файл</h3>
        <p>Возможность загрузки таблицы расписания в файл .xlsx</p>
    </div>

    <div class="feature-item">
        <h3>Управление оценками</h3>
        <p>Система предлагает возможность отображения и редактирования учебной успеваемости</p>
    </div>

    <div class="feature-item">
        <h3>Поиск по системе</h3>
        <p>Авторизированным пользовтелям предаставлена возможность поиска информации в системе</p>
    </div>
</div>
{% endblock %}
