{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<div class="search">
    <form class="search_form" id="search_form" action="{% url 'schedule_search' %}" method="get">
        <input type="text" id="search_input" name="q" placeholder="Поиск расписания / Номера группы / Предмета...">
    </form>
</div>

<div class="login_btn">
    <a href="{% url 'login' %}">Вход</a>
</div>

<h2>Функции системы</h2>
<div class="features">
    <div class="feature-item">
        <h3>Авторизация</h3>
        <p>Наличие личного кабинета
        </p>
    </div>

    <div class="feature-item">
        <h3>Отображение расписания</h3>
        <p>Отображение таблиц персонализированного расписания с возможностью редактирования</p>
    </div>
    <div class="feature-item">
        <h3>Учет успеваемости</h3>
        <p>Отображение таблиц оценок с возможностью редактирования</p>
    </div>

    <div class="feature-item">
        <h3>Выгрузка отчетов в excel</h3>
        <p>Загрузка таблиц оценок и расписания в файл с расширением .xlsx</p>
    </div>

    <div class="feature-item">
        <h3>Поиск информации</h3>
        <p>Пользователям предоставлена возможность быстрого поиска информации по системе</p>
    </div>

    <div class="feature-item">
        <h3>Витрина студентов</h3>
        <p>Студенты имеют возможность поделиться своим проектом, выложив его на страницу витрины проектов студентов</p>
    </div>
</div>
{% endblock %}
