/* СТИЛИ ДЛЯ БАЗЫ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

body {

    color: #333;
    line-height: 1.6;
    margin: 0;
}

/* Заголовок страницы */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Навигация */
.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
    background-color: #4CAF50;
    color: white;
}

/* Основной контент */
main {
    padding: 20px;

    margin: 20px auto;
    background-color: white;
    border-radius: 10px;

}
/* Футер */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: rgb(92, 92, 92);
    font-size: 14px;
}

/* Отзывчивость */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 10px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    main {
        padding: 15px;
    }
}
