.filter-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Отступ между строками */
    margin-bottom: 20px;
}

.filter-group {
    display: flex;
    gap: 40px; /* Увеличенный отступ между предметом и группой */
    align-items: center;
}

.filter-item {
    display: flex;
    flex-direction: column;
}

.filter-button {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #667eea;
    font-weight: bold;
    border-radius: 5px;
    
}

.filter-button:hover {
    background-color: #0056b3;
}



.container {
    max-width: 800px;
    margin: 5px auto;
    padding: 1px;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

select {
    width: 100%; 
    padding: 8px; 
    font-size: 16px;
    border: 2px solid #667eea; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    color: #333;
    cursor: pointer; 
}

select:focus {
    border-color: #667eea;
    outline: none;
    background-color: #fff;
    transition: background-color 0.3s, transform 0.2s;
}

select option {
    font-size: 14px;
    padding: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.2s;
}

td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    background-color: #ffffff;
}

th {
    border: 1px solid #ffffff;
    background-color: #667eea;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
td {
    color: #333;
}

tr:nth-child(even) {
    background-color: #ffffff;
    transition: background-color 0.3s, transform 0.2s;
}

td:hover {
    transition: background-color 0.3s, transform 0.2s;
    background-color: #F4F4F9;
}

td[colspan="4"] {
    text-align: center;
    font-style: italic;
    color: #888;
}
.green {
    color: green;
    font-weight: bold;
}

.yellow {
    color: orange;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}
