/* Заголовок */
h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Карточка профиля */
.profile-info {
    max-width: 500px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Текст в карточке */
.profile-info p {
    color: #555;
    margin: 10px 0;
    line-height: 1.5;
}

/* Выделение заголовков полей */
.profile-info strong {
    color: #222;
}

/* Ссылка "Сменить пароль" */
.profile-info a {
    display: inline-block;
    text-decoration: none;
    color: #667eea;
    font-weight: bold;
    transition: 0.3s;
}

.profile-info a:hover {
    color: #5b74e3;
    text-decoration: underline;
}

/* Кнопка "Выйти" */
button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 20px auto;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #d32f2f;
}


/* Адаптивность */
@media (max-width: 600px) {
    .profile-info {
        width: 90%;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
