.grade-cell.pass {
    background: white;
    color:  #28a745;
    font-weight: bold;
}

.grade-cell.fail {
    background: white;  
    color: #dc3545;
    font-weight: bold;
}
.container {
    width: 100%;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page-title {
    text-align: center;
    color: #000000;
}

.grades-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    color: #667eea;
    border-radius: 10px;
    overflow: hidden;
}

.grades-table th, .grades-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

.grades-table th {
    background: #667eea;
    color: white;
}

.grade-cell.red {
    background: #ff4c4c;
    color: white;
    font-weight: bold;
}

.no-data {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: #ccc;
}

.edit-link {
    text-decoration: none;
    font-size: 18px;
    color: #28a745;
}

.edit-link:hover {
    color: #764ba2;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    color:  #6c757d;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}
.btn_download-btn {

    padding: 10px 20px;
    text-decoration: none;
    color:  white;
    background: #667eea;
    border-radius: 5px;
    transition: 0.3s;

}

.btn_download-btn:hover {
    background: #764ba2;
}
