{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/office.css' %}">
</head>
<h2>Добро пожаловать, {{ user.first_name }}!</h2>

<div class="profile-info">
    <p><strong>ФИО:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Login:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Роль:</strong> {{ user.role }}</p>
    {% if can_edit %}
        <p><strong>Группа: </strong>{{ user.group }} - {{user.group.name}} </p>
    {% endif %}
    <p><strong>Ваш ID:</strong> {{ user.id }}</p>
    <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p> 
    
</div>
<p><a href="{% url 'password_change' %}">Сменить пароль</a></p>
{% if can_edit %}
    <p><a href="{% url 'register' %}">Регистрация пользователя</a></p>
{% endif %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
{% endblock %}
