{% extends 'base.html' %}
{% block title %}Мои проекты{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/my_vitrina.css' %}">
</head>
<h2>Мои проекты</h2>
<div class="add">
    <a href="{% url 'vitrina_add' %}" class="btn-add-project">Добавить новый проект</a>
</div>
<div class="project-gallery">
    {% if projects %}
    {% for project in projects %}
        <div class="project-card">
                <h3>{{ project.title }}</h3>
                {% if project.cover %}
                    <img src="{{ project.cover.url }}" alt="cover" style="max-width:100%;">
                {% endif %}
                <div class="links">
                    <a href="{% url 'edit_project' project.id %}">✏️ Редактировать</a>
                    <a href="{% url 'delete_project' project.id %}">🗑️ Удалить</a>
                </div>
        </div> 
    {% endfor %}
{% else %}
    <p>Вы ещё не добавили ни одного проекта.</p>
{% endif %}

</div>

{% endblock %}
