{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/office.css' %}">
</head>
<h2>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}!</h2>

<div class="profile-info">
    <p><strong>ФИО:</strong> {{ user.first_name }} {{ user.last_name }} {{ user.surname }}</p>
    <p><strong>Login:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Роль:</strong> {{ user.role }}</p>
    <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
    <p><a href="{% url 'my_vitrina' %}"> Моя витрина </a></p>
    {% if student %}
        <p><strong>Направление / Профиль / Номер группы: </strong>{{ student.group }}</p>
    {% endif %}
</div>
<div class="low-links">
    <p><a href="{% url 'password_change' %}">Сменить пароль</a></p>
{% if can_edit %}
    <p><a href="/admin/">Панель администрации</a></p>
    <p><a href="/admin/accounts/customuser/add/">Регистрация пользователя</a></p>
{% endif %}
{% endblock %}
