{% extends "base.html" %}
{% block title %}Витрина проектов{% endblock %}
{% block content %}
{% load static %}
<head><link rel="stylesheet" href="{% static 'css/vitrina.css' %}"></head>
<h2>Витрина проектов</h2>
<div class="opisanie"> 
    <p>Это выставочное пространство, где представлены разнообразные научные или инженерные проекты.</p>
    <p>Здесь студенты имеют возможность демонстрировать свои успехи и представлять результаты своих исследований и разработок.
        В рамках этой витрины могут быть представлены прототипы, технические решения, научные открытия и другие инновационные результаты работ.
    </p>

<hr>
<br>
</div>
    
<div class="project-gallery">
{% for project in projects %}
<div class="project-card">
    <a href="{% url 'project_detail' project.id %}">
        <h3>{{ project.title }}</h3>
        {% if project.cover %}
            <img src="{{ project.cover.url }}" alt="cover" style="max-width:100%;">
        {% endif %}
    </a>

</div>
{% empty %}
    <p>Проекты пока не добавлены.</p>
{% endfor %}
 
</div>

{% endblock %}
