{% extends 'base.html' %}
{% block title %}Добавить проект{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/vitrina_add.css' %}">
</head>
<div class="add-container">
    <h2>Добавить проект</h2>

    <form method="post" enctype="multipart/form-data" class="add-form">
        {% csrf_token %}
    
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Название проекта</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>
    
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Описание</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>
    
        <div class="form-group">
            <label for="id_cover">Обложка:</label>
            {% if project.cover %}
                <p>На данный момент: <a href="{{ project.cover.url }}">...</a></p>
                <div class="checkbox-wrapper">
                    <input type="checkbox" name="cover-clear" id="cover-clear_id">
                    <label for="cover-clear_id">Удалить файл</label>
                </div>
                {% else %}
                <p>Файл обложки отсутствует</p>
            {% endif %}
                    
            <p>Изменить:</p>
            <input type="file" name="cover" class="custom-file" accept="image/*" id="id_cover">
        </div>

        
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Фото проекта:</label>
            {% if project.image %}
                <p>На данный момент: <a href="{{ project.image.url }}">...</a></p>
                <div class="checkbox-wrapper">
                    <input type="checkbox" name="image-clear" id="image-clear_id">
                    <label for="image-clear_id">Удалить файл</label>
                </div>
                {% else %}
                <p>Файл отсутствует</p>
            {% endif %}
                    
            <p>Изменить:</p>
            <input type="file" name="image" class="custom-file" accept="image/*" id="id_image">
        </div>
        <div class="form-group">
            <label for="{{ form.tags.id_for_label }}">Теги</label>
            {{ form.tags }}
            {{ form.tags.errors }}
        </div>        
    
        <button type="submit" class="btn-save">Сохранить изменения</button>
    </form>
    <script>
        $(document).ready(function() {
            $('.tag-select').select2({
                tags: true,
                tokenSeparators: [','],
                width: '100%',
                placeholder: "Выберите или добавьте теги"
            });
        });
    </script>
</div>

{% endblock %}
