<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановить пароль</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Восстановить пароль</h2>
        <br>
        <form>
            <label for="login">Введите email:</label>
            <input type="text" id="email" name="email" required>
    
            <button type="submit">Отправить письмо</button>
        </form>
    </div>
    <footer>
        © 2024, ИС успеваемости студентов
    </footer>
</body>
</html>

