{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/grade_list.css' %}">
<h2>Оценки</h2>
<div class="container">
    

    <div class="filter-container">
        <form method="GET" class="filter-form">
            <label for="subject">Предмет:</label>
            <select name="subject" id="subject">
                <option value="">Все предметы</option>
                {% for subj in subjects %}
                    <option value="{{ subj.id }}" {% if request.GET.subject == subj.id|stringformat:"s" %}selected{% endif %}>
                        {{ subj.name }}
                    </option>
                {% endfor %}
            </select>
    
            {% if is_teacher_or_admin %}
            <label for="group">Группа:</label>
            <select name="group" id="group">
                <option value="">Все группы</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if request.GET.group == group.id|stringformat:"s" %}selected{% endif %}>
                        {{ group.name }}
                    </option>
                {% endfor %}
            </select>
            {% endif %}
    
            <button type="submit" class="filter-button">Выбрать</button>
        </form>    
    </div>
    
    
    <table border="1">
        <thead>
            <tr>
                <th>Предмет</th>
                {% if is_teacher_or_admin %}<th>Группа</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for subj in subjects %}
            <tr>
                <td><a href="{% url 'subject_grades' subject_id=subj.id %}">{{ subj.name }}</a></td>
                {% if is_teacher_or_admin %}<td>{{ subj.group.name }}</td>{% endif %}
            </tr>    
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
