{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<div class="search">
    <form class="search_form" id="search_form" action="{% url 'schedule_search' %}" method="get">
        <input type="text" id="search_input" name="q" placeholder="Поиск по системе">
    </form>
</div>

<h2>Функции системы</h2>
<div class="features">
    <div class="feature-item">
        <h3>Аутентификация</h3>
        <p>Студенты и преподаватели имеют возможность зарегистрироваться и войти в систему</p>
    </div>

    <div class="feature-item">
        <h3>Отображение расписания</h3>
        <p>Отображение персонализированного расписания</p>
    </div>

    <div class="feature-item">
        <h3>Загрузка в файл</h3>
        <p>Возможность загрузки таблицы расписания в файл .xlsx</p>
    </div>

    <div class="feature-item">
        <h3>Управление оценками</h3>
        <p>Учет успеваемости</p>
    </div>
</div>
{% endblock %}
