{% extends 'schedule/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="search-bar">
    {% load static %}
    <input type="text" placeholder="Поиск по системе"><button><img src="{% static 'schedule/css/search.svg' %}"></button>
</div>
<div class="features">
    <div class="feature-item">
        <h3>Анализ оценок</h3>
        <p>Преподаватели могут редактировать оценки, загружать и выгружать отчёты</p>
    </div>

    <div class="feature-item">
        <h3>Отображение расписания</h3>
        <p>Отображение расписания в реальном времени</p>
    </div>

    <div class="feature-item">
        <h3>Уведомления</h3>
        <p>Студенты получают уведомления об экзаменах и зачётах</p>
    </div>
</div>
{% endblock %}
