{% extends 'schedule/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<div class="log">
    <div class="login-container">
        <h2>Вход в систему</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
    <br>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
</div>

{% endblock %}
