{% extends 'schedule/base.html' %}
{% load static %}
{% block title %}Вход{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<div class="log">
    <div class="login-container">
        <h2>Вход в систему</h2>
        <br>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Войти"></p>
            <!-- <button type="submit">Войти</button> -->
        </form>

    <br>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
</div>
{% endblock %}
