{% extends "schedule/base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<h1>Добро пожаловать, {{ user.username }}!</h1>

<div class="profile-info">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Группа: </strong>{{ user.group }}</p>
</div>

<h2>Другая информация</h2>
<ul>
    <li>Ваш ID: {{ user.id }}</li>
    <li>Дата регистрации: {{ user.date_joined }}</li>
</ul>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
{% endblock %}
