{% extends 'schedule/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<div class="reg">
    <div class="reg-container">
        <h2>Регистрация</h2>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit">Зарегистрировать</button>
        </form>
    </div>
</div>
</html>
{% endblock %}