{% extends 'base.html' %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/schedule_search.css' %}">
</head>

<div class="search-results">
    {% if query %}
        <h2>Результаты по запросу: "{{ query }}"</h2>
        {% if results %}
            <ul>
                {% for schedule in results %}
                    <li>
                        <strong>Предмет:</strong> {{ schedule.subject.name }} <br>
                        <strong>Номер группы:</strong> {{ schedule.subject.group.id }} <br>
                        <strong>Группа:</strong> {{ schedule.subject.group.name }} <br>
                        <strong>Дата:</strong> {{ schedule.date }} <br>
                        <strong>Время:</strong> {{ schedule.time }} <br>
                        <strong>Кабинет:</strong> {{ schedule.cabinet }} <br>
                        <strong>Преподаватель:</strong> {{ schedule.teacher }} <br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                Ничего не найдено.
                <br><br>
                <a href="{% url 'home' %}">Искать снова</a>
            </p>
            
        {% endif %}
    {% else %}
        <p>Введите параметр поиска в адресной строке, например: <code>?q=название</code></p>
    {% endif %}
</div>
{% endblock %}
