{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}

<link rel="stylesheet" type="text/css" href="{% static 'css/subject_grades.css' %}">

<div class="container">
    <h2 class="page-title">Журнал оценок - {{ subject.name }}</h2>       

    <div class="table-wrapper">
        <div class="table-container">
            <table class="grades-table">
                <thead>
                    <tr>
                        <th>Студент</th>
                        {% for date in date_list %}
                            <th>{{ date }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.last_name }} {{ student.first_name }}</td>
                            {% for date in date_list %}
                                {% with grades_by_date|get_item:date as grades_for_date %}
                                    <td>
                                        {% if grades_for_date and student.id in grades_for_date %}
                                            {{ grades_for_date|get_item:student.id }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    <div class="buttons">
        <a href="{% url 'grade_list' %}" class="btn">⬅ Назад</a>
        <a href="{% url 'export_grades_xlsx' subject.id %}" class="btn_download-btn">📄 Загрузить в XLSX</a>
    </div>
</div>
{% endblock %}
